<div class="fondo">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="push" [(opened)]="opened" style="background-color: rgba(39, 38, 38, 0.5);">
            <img class="logoPaginas" src="../../assets/img/logoPaginas.png">
            <mat-list role="list" style="margin-top: 80px;">
                <mat-list-item role="listitem" routerLink="/categoria">
                    <mat-icon>category</mat-icon>&nbsp;&nbsp;Categoria
                </mat-list-item>
                <mat-list-item role="listitem" routerLink="/clientes">
                    <mat-icon>group</mat-icon>&nbsp;&nbsp;Clientes
                </mat-list-item>
                <mat-list-item role="listitem" routerLink="/proveedores">
                    <mat-icon>local_shipping</mat-icon>&nbsp;&nbsp;Proveedores
                </mat-list-item>
                <mat-list-item role="listitem" routerLink="/productos">
                    <mat-icon>storefront</mat-icon>&nbsp;&nbsp;Productos
                </mat-list-item>
                <mat-list-item role="listitem" routerLink="/ventas">
                    <mat-icon>credit_card</mat-icon>&nbsp;&nbsp;Ventas
                </mat-list-item>
                <mat-list-item role="listitem" routerLink="/devoluciones">
                    <mat-icon>rotate_90_degrees_ccw</mat-icon>&nbsp;&nbsp;Devoluciones
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar color="primary" class="toolbar">
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menu_open</mat-icon>
                </button>
                <div style="float: right;">
                    <h4 style="text-align: right">Bienvenido Usuario</h4>
                    <!--<button mat-button><mat-icon>add</mat-icon></button>-->
                </div>
            </mat-toolbar>
            <br>
            <h1>Devoluciones&nbsp;&nbsp;<mat-icon style="font-size: 40px;">rotate_90_degrees_ccw</mat-icon>
            </h1>
            <div style="margin: 50px;">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <mat-card class="card">
                    <div class="container">
                        <div class="row">
                            <div class="col-9">
                                <button mat-button (click)=openAlta(content)>
                                    <mat-icon>add</mat-icon>&nbsp;&nbsp;Agregar Devolución
                                </button>
                            </div>
                            <div class="col-3">
                                <button mat-mini-fab style="margin-left: 10px;background-color: rgba(0, 0, 0, 0.7)">
                                    <mat-icon style="color: white">edit_attributes</mat-icon>
                                </button>
                                <button mat-mini-fab style="margin-left: 10px;background-color: rgba(0, 0, 0, 0.8)">
                                    <mat-icon style="color: white">delete_sweep</mat-icon>
                                </button>
                                <button mat-mini-fab style="margin-left: 10px;background-color: rgba(0, 0, 0, 0.9)">
                                    <mat-icon style="color: white">picture_as_pdf</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="progress">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Sin IVA </th>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="color">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> IVA </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ciudad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Con IVA </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cliente">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
            <ng-template #content let-modal>
                <div class="modal-header" style="background-color: #272625;">
                    <h3 class="modal-title" id="modal-basic-title" style="color: white;">Alta Devolución</h3>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: rgba(0, 0, 0, 0.7);">
                    <form class="form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Fecha Devolución">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Monto sin IVA">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="IVA">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Monto con IVA">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Tipo de Devolucion">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Cliente">
                        </mat-form-field>
                    </form>
                </div>
                <div class="modal-footer" style="background-color: rgba(255,150,0,0.9);">
                    <button mat-button>Agregar</button>
                </div>
            </ng-template>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>