.fondo{
  background: url('../../assets/img/fondo3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.card {
  max-width: 400px;
  background-color: rgba(8, 17, 35, 0.58);
  margin: 15px;
  padding: 20px;
}

.header-image {
  background-image: url('../../assets/img/logo.png');
  background-size: cover;
  margin: 10px;
  width: 100px;
  height: 100px;
  margin-left: 35%;
  margin-right: 35%;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  text-align: center;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnIniciarSesion{
  width: 100%;
  margin-bottom: 20px;
  font-size: 25px;
}

.selectTipo{
  text-align: center;
  width: 100%;
}

.titulo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  margin-bottom: 11px;
  display: table;
  padding-top: 0px;
  width: 40%;
}

label{
  color: rgb(207, 40, 40);
  margin-left: 10%;
  margin-right: 10%;
}
