<div class="fondo">
  <div class="main-div">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
      </mat-card-header>
      <img class="titulo" src="../../assets/img/titulo.png">
      <mat-card-content>
        <form class="form" style="margin-top: 70px;">
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix style="color:#fbfafa">person</mat-icon>
            <input matInput type="text" placeholder="Nombre de usuario" [formControl]="nombreUsuario" (keyup)="validarFormulario()"  >
          </mat-form-field>
          <label *ngIf="nombreUsuario.invalid && nombreUsuario.dirty">Este campo es obligatorio</label>
          <mat-form-field class="example-full-width" >
            <mat-icon matPrefix style="color: #fbfafa">lock</mat-icon>
            <input matInput type="password" placeholder="Password"  [formControl]="password" (keyup)="validarFormulario()">
          </mat-form-field>
          <label *ngIf="password.invalid && password.dirty">Este campo es obligatorio</label>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button class="btnIniciarSesion" [disabled]="!formValid" (click)="login()" style="color: #152956;"> <b>INICIAR SESIÓN</b> </button>
      </mat-card-actions>
    </mat-card>
  </div>


  <section class="example-section">
    <button mat-raised-button color="primary" (click)="showProgressSpinner()">Spinner With Backdrop</button>
  </section>
  <app-template-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true" [positionGloballyCenter]="true"[displayProgressSpinner]="displayProgressSpinner">
  </app-template-progress-spinner>

</div>
