<div class="fondo">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" style="background-color:rgba(231, 235, 241, 0.98);">
      <img class="logoPaginas" src="../../assets/img/logoPaginas.png">
      <mat-list role="list" style="margin-top: 30px;">
        <mat-list-item role="listitem" routerLink="/clientes">
          <mat-icon>group</mat-icon>&nbsp;&nbsp;Clientes
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/proveedores">
          <mat-icon>local_shipping</mat-icon>&nbsp;&nbsp;Proveedores
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/usuarios">
          <mat-icon>supervised_user_circle</mat-icon>&nbsp;&nbsp;Usuarios
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/productos">
          <mat-icon>storefront</mat-icon>&nbsp;&nbsp;Productos
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/metodoPago">
          <mat-icon>local_atm</mat-icon>&nbsp;&nbsp;Metodo De Pago
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/transacciones">
          <mat-icon>sync_alt</mat-icon>&nbsp;&nbsp;Transacciones
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/devoluciones">
          <mat-icon>rotate_90_degrees_ccw</mat-icon>&nbsp;&nbsp;Devoluciones
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/compras">
          <mat-icon>local_atm</mat-icon>&nbsp;&nbsp;Compras Proveedor
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/carrito">
          <mat-icon>shopping_cart</mat-icon>&nbsp;&nbsp;Carrito
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/envios">
          <mat-icon>storefront</mat-icon>&nbsp;&nbsp;Envios
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/reportes">
          <mat-icon>assignment</mat-icon>&nbsp;&nbsp;Reportes
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/accesos">
          <mat-icon>lock_open</mat-icon>&nbsp;&nbsp;Bitacora De Accesos
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: rgba(247, 247, 247, 0.95);">
      <mat-toolbar  class="toolbar">
        <button mat-button (click)="sidenav.toggle()" style="font-size:20px;">MENÚ&nbsp;<mat-icon style="font-size:30px; padding-bottom: 36px;"> menu_open</mat-icon></button>
      </mat-toolbar>
      <br>
      <h1 style="font-weight: bold; color:#002255d9;">Bitacora de Accesos&nbsp;&nbsp;<mat-icon style="font-size: 45px;">lock_open</mat-icon></h1>
      <div style="margin: 50px;">
        <mat-card class="cardPrincipal">
          <mat-card class="card">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar :">
            </mat-form-field>
          </mat-card>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.idAcceso}} </td>
              </ng-container>
              <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo De Pago </th>
                <td mat-cell *matCellDef="let row"> {{row.accion}} </td>
              </ng-container>
              <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y Hora De Acceso </th>
                <td mat-cell *matCellDef="let row"> {{row.fechaRegistro | date : "dd/MM/yyyy HH:mm:ss"}} </td>
              </ng-container>
              <ng-container matColumnDef="nombreUsuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                <td mat-cell *matCellDef="let row"> {{row.nombreUsuario}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" style="background-color: rgba(194, 200, 208, 0.9);"></mat-paginator>
          </div>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
