<div class="fondo">
    <div class="container" >
        <div class="row align-items-start">
            <div class="col" style="background-color: rgba(11, 28, 53, 0.72);">
                <img class="logoPaginas" src="../../assets/img/logoPaginas.png">
            </div>
            <div class="col" style="background-color:rgba(11, 28, 53, 0.72);">
                <h2 style="text-align: center; padding: 20px; color: white;">Punto De Venta</h2>
            </div>
        </div>
    </div>
    <div class="main-div">
      <mat-card  class="card">
        <div class="container" >
          <div class="row">
            <div class="col-6">
              <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                <mat-chip class="colorMatChip" style="margin-left: 120px;" routerLink="/categoria"><mat-icon>category</mat-icon>&nbsp;&nbsp;Categoria</mat-chip>
                <mat-chip class="colorMatChip" style="margin-left: 120px;" routerLink="/clientes"><mat-icon>group</mat-icon>&nbsp;&nbsp;Clientes</mat-chip>
                <mat-chip class="colorMatChip" style="margin-left: 120px;" routerLink="/proveedores"><mat-icon>local_shipping</mat-icon>&nbsp;&nbsp;Proveedores</mat-chip>
                <mat-chip class="colorMatChip" style="margin-left: 120px;" routerLink="/proveedores"><mat-icon>local_atm</mat-icon>&nbsp;&nbsp;Vendedores</mat-chip>
              </mat-chip-list>
            </div>
            <div class="col-6">
              <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                <mat-chip class="colorMatChip" routerLink="/productos"><mat-icon>storefront</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Productos</mat-chip>
                <mat-chip class="colorMatChip" routerLink="/ventas"><mat-icon>credit_card</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Ventas</mat-chip>
                <mat-chip class="colorMatChip"><mat-icon>people_alt</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Usuarios</mat-chip>
                <mat-chip class="colorMatChip" routerLink="/devoluciones"><mat-icon>rotate_90_degrees_ccw</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Devoluciones</mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
</div>
