.fondo{
  background: url('../../assets/img/fondo10.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logoPaginas{
    margin-top: 20px;
    margin-bottom: 24px;
    margin-left: 90px;
    margin-right: 10px;
    width: 130px;

  }

  mat-toolbar{
      height: 70px;
  }

  .sizecarousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .card {
    background-color: rgba(11, 28, 53, 0.15);
    width: 950px;
    margin: 100px;

}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-chip {
  max-width: 300px;
  max-height: 200px;
  font-size: 30px;
  padding: 40px;
  background-color: rgba(30, 45, 62, 0.94);
}

mat-icon{
  font-size: 35px;
}

.colorMatChip{
  background-color: rgba(30, 45, 62, 0.94);
}
