<div class="fondo">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" style="background-color:rgba(28, 34, 37, 0.62);">
      <img class="logoPaginas" src="../../assets/img/logoPaginas.png">
      <mat-list role="list" style="margin-top: 30px;">
        <mat-list-item role="listitem" routerLink="/categoria">
          <mat-icon>category</mat-icon>&nbsp;&nbsp;Categoria
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/clientes">
          <mat-icon>group</mat-icon>&nbsp;&nbsp;Clientes
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/proveedores">
          <mat-icon>local_shipping</mat-icon>&nbsp;&nbsp;Proveedores
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/usuarios">
          <mat-icon>supervised_user_circle</mat-icon>&nbsp;&nbsp;Usuarios
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/productos">
          <mat-icon>storefront</mat-icon>&nbsp;&nbsp;Productos
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/metodoPago">
          <mat-icon>local_atm</mat-icon>&nbsp;&nbsp; Metodo De Pago
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/tipoDevolucion">
          <mat-icon>settings_backup_restore</mat-icon>&nbsp;&nbsp; Tipo De Devolución
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/viaEnvio">
          <mat-icon>commute</mat-icon>&nbsp;&nbsp; Medio De Envio
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/ventas">
          <mat-icon>credit_card</mat-icon>&nbsp;&nbsp;Ventas
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/devoluciones">
          <mat-icon>rotate_90_degrees_ccw</mat-icon>&nbsp;&nbsp;Devoluciones
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/carrito">
          <mat-icon>shopping_cart</mat-icon>&nbsp;&nbsp;Carrito
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/reportes">
          <mat-icon>assignment</mat-icon>&nbsp;&nbsp;Reportes
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/accesos">
          <mat-icon>lock_open</mat-icon>&nbsp;&nbsp;Bitacora De Accesos
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <button mat-button (click)="sidenav.toggle()" style="font-size:20px;">MENÚ&nbsp;<mat-icon style="font-size:30px; padding-bottom: 36px;"> menu_open</mat-icon></button>
      </mat-toolbar>
      <br>
      <h1>Transacciones&nbsp;&nbsp;<mat-icon style="font-size: 45px;">sync_alt</mat-icon></h1>
      <mat-card class="cardTab">
        <mat-tab-group>
          <mat-tab>
            <ng-template  mat-tab-label style="color: white; background-color:174677f0;">
              <mat-icon  class = "tabIcono"> credit_card </mat-icon>Informe Ventas
            </ng-template>
            <div class="tablaTab1">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="idVenta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.idVenta}} </td>
                  </ng-container>
                  <ng-container matColumnDef="montoSinIVA">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Sin IVA</th>
                    <td mat-cell *matCellDef="let row"> ${{row.montoSinIVA}} </td>
                  </ng-container>
                  <ng-container matColumnDef="IVA">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IVA </th>
                    <td mat-cell *matCellDef="let row"> ${{row.IVA}} </td>
                  </ng-container>
                  <ng-container matColumnDef="montoConIVA">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Con IVA </th>
                    <td mat-cell *matCellDef="let row"> ${{row.montoConIVA}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cantidadTotalProductos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Total De Productos </th>
                    <td mat-cell *matCellDef="let row"> ${{row.cantidadTotalProductos}} </td>
                  </ng-container>
                  <ng-container matColumnDef="pago">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pago </th>
                    <td mat-cell *matCellDef="let row"> ${{row.pago}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cambio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cambio </th>
                    <td mat-cell *matCellDef="let row"> ${{row.cambio}} </td>
                  </ng-container>
                  <ng-container matColumnDef="fechaRegistro">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha De La Venta </th>
                    <td mat-cell *matCellDef="let row"> {{row.fechaRegistro | date : "dd/MM/y"}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nombreProducto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombreProducto}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nombreUsuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombreUsuario}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nombreCliente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombreCliente}} </td>
                  </ng-container>
                  <ng-container matColumnDef="tipoPago">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo De Pago </th>
                    <td mat-cell *matCellDef="let row"> {{row.tipoPago}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5]" style="background-color: #141719;"></mat-paginator>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template  mat-tab-label>
              <mat-icon  class="tabIcono"> local_grocery_store </mat-icon>Informe Compras
            </ng-template>
            <div class="tablaTab1">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dsVendedoresMasVentas" matSort>
                  <ng-container matColumnDef="idUsuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.idUsuario}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Vendedor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor</th>
                    <td mat-cell *matCellDef="let row"> {{row.Vendedor}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ImporteVenta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Total De Ventas </th>
                    <td mat-cell *matCellDef="let row"> $ {{row.ImporteVenta}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="dcVendedoresMasVentas"></tr>
                  <tr mat-row *matRowDef="let row; columns: dcVendedoresMasVentas;"></tr>
                </table>
                <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5]" style="background-color: #141719;"></mat-paginator>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
